

section {
    padding-top: 100px;
    padding-bottom:10px;
  }
  
  section h1 {
    text-transform:uppercase;
    font-weight: 900;
    color: #683aa4;
    text-align: left;
    margin-bottom: 20px;
    margin-top:50px;
  }
  
  section p {
    font-size: 16px;
    font-weight: 30px;
  }
  
  button {
    max-width: 50%;
    border-radius: 50px !important;
  }
  
  #hero {
    justify-content: center;
    flex-direction: column;
    dispaly: flex;
  }
  
  #hero .img-col{
    justify-content: flex-end;
    margin-top:10px;
  }
  
  #hero img {
    max-width: 110% !important;
    width:110%;
  }
  
  #hero .cards {
    box-shadow: 11px 7px 16px #f9f9f9;
    border:0;
    text-aling: center;
    margin:0 10px 0 10px;
  }
  
  #hero .icon {
   width:190px;
   heigth:190px;
   padding-left: 50px;
    padding-top:15px;
  }
  
  #projects .projects {
    margin-bottom:50px;
  }
  
  #contact {
    text-align:center;
    background-color: #683aa4;
    color:white;
  }
  
  #contact h1 {
    color: white;
    text-align: center;
  }








@import url('https://fonts.googleapis.com/css?family=Numans');

.signin{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
padding:80px;
}

.signin .container{
height: 100%;
align-content: center;
}

.signin .card{
height: 370px;
margin:65px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.signin .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.signin .social_icon span:hover{
color: white;
cursor: pointer;
}

.signin .card-header h3{
color: white;
}

.signin .social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.signin .input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.signin input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.signin .remember{
color: white;
}

.signin .remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.signin .login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.signin .login_btn:hover{
color: black;
background-color: white;
}

.signin .links{
color: white;
}

.signin .links a{
margin-left: 4px;
}